VITE_SUPABASE_URL=replace_with_supabase_url
VITE_SUPABASE_PUBLISHABLE_KEY=replace_with_supabase_publishable_key
VITE_SUPABASE_PROJECT_ID=replace_with_supabase_project_id

SUPABASE_URL=replace_with_supabase_url
SUPABASE_PUBLISHABLE_KEY=replace_with_supabase_publishable_key
SUPABASE_PROJECT_ID=replace_with_supabase_project_id
SUPABASE_SERVICE_ROLE_KEY=replace_with_server_side_service_role_key

WEB3FORMS_ACCESS_KEY=replace_with_server_side_web3forms_key
